* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 75%;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    width: 20%;
    background: #5cb85c;
    color: white;
    border: none;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #4cae4c;
  }
  
  ul {
    list-style-type: none;
  }
  
  ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 8px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  ul li:hover {
    background: #ddd;
  }
  
  .ri-edit-box-fill, .ri-delete-bin-line {
    cursor: pointer;
    font-size: 20px;
    color: #333;
  }
  
  .ri-edit-box-fill:hover, .ri-delete-bin-line:hover {
    color: #000;
  }
  
  .icon-container {
    display: flex;
    gap: 10px;
  }
  